* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.menu{
    display: flex;
    align-items: center;
}

nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    gap : 20px;
}

nav a {
    text-decoration: none;
    color: #727272;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
}

nav .active{
    background-color: #39aae1;
    color: #fff;
    border-radius: 5px;
}
nav a:hover{
    background-color: #39aae1;
    color: #fff;
    border-radius: 5px;
}

#banner{
    background-image: url(../img/medico.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
}


.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    text-align: right;
}
.banner_headline h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
.banner_headline h2{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
.banner_options{
    height: 210px;
    display: flex;
    flex-wrap: wrap;
}

.banner1,
.banner2,
.banner3{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
.banner1 button,
.banner2 button,
.banner3 button{
    background-color: #39aae1;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

.banner1{
    background-color: #39a9e187;

}
.banner2{
    background-color: #0077c763;
}
.banner3{
    background-color: #2b4c9983;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
.banner_options a:hover{
    background-color: #fff;
    color: #000;
}

#geral{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1250px;
    margin: 0 auto;
}


.noticias{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.departamentos{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.noticia-p,
.widget p{
    font-size: 1.2rem;
    border-bottom: 2px solid #39aae1;
    padding-bottom: 5px;
    width: 130px;
}

.news_data {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.news_posted_at{
    padding: 5px 15px;
    background-color: #160e88;
    color: #fff;
}
.news_comments{
    padding: 5px 15px;
    background-color: #39aae1;
}

.widget_body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.widget_body article{
    max-width: 420px;
    min-width: 350px;
    margin-bottom: 2rem;

}

.widget_body img{
    width: 100%;
    height: 200px;
    position: center;
    background-size: cover;
}

.new_title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.departamentos .aside-contain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.departamentos .aside-contain img{
    width: 100%;
    height: 200px;
    position: center;
    background-size: cover;
}

.widget_body-list ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.widget_body-list li{
    width: 130px;
    text-align: center;
    color: #fff;
    height: 120px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    margin: 5px;
    list-style: none;
    padding: 10px;
    background-color: #c5c2ef;
}