.container-form{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.contact-form{
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #ddecdd;
    font-family: sans-serif;
}

form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 15px;
    width: 100%;
    border: #fff;
    padding: 10px 15px;
}

select{
    margin-bottom: 10px;
}

iframe{
    border-radius: 20px;
}