* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;
}

/* Container Principal */
#container-full{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.img-header{
    width: 100%;
    height: 100%;
}

/* Nav Barr */
.nav-bar{
    background-color: #f8d7da;
    border: 2px solid;
}
.nav-bar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
}
.nav-bar  a{
    border: 1px solid;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.nav-bar img{
    width: 100%;
    padding: 20px;
}