@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Edu AU VIC WA NT Pre', monospace; */
    background-color: #f5f5f5;
    max-width: 1250px;
    margin: 0 auto;
}

#container-full{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}

.nav-bar img,
#header img{
    width: 100%;
}
