@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
}

/* Cabecalho */
#header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #202123, #408e50);
    filter: drop-shadow(5px 5px 5px #000);

}
#header img{
    width: 100px;
    padding: 10px;
    filter: drop-shadow(5px 5px 5px #000);

}
#header .navbar {
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}
.container-fluid{
    display: flex;
    flex-direction: column;
}
.navbar-toggler{
    background-color: rgb(235, 216, 216);
}

#header .navbar a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}


#header .navbar a:hover{
    color: #000;
    background-color: #ccc;
    border-radius: 10px
}

#contain{
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    gap: 20px;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h2 a{
    text-decoration: none;
    color: #333;
}
h2 a:hover{
    color: #363e9a;
}
figure img{
    width: 100%;
    filter: drop-shadow(5px 5px 5px #000);

}

section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}







/* Definindo a animação de surgir */
@keyframes surgir {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo base da imagem */
.imagen {
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(100%); /* Posicionada fora da tela */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Estilo quando a imagem entra na visualização */
.imagen.visible {
    opacity: 1;
    transform: translateY(0);
    animation: surgir 1s ease-out;
}

/* Desativar a animação para telas menores que 800px */
@media (max-width: 800px) {
    .imagen {
        opacity: 1; /* Visível */
        transform: translateY(0); /* Posição normal */
        transition: none; /* Sem transições */
        animation: none; /* Sem animações */
    }
}







section blockquote{
    text-align: center;
    background-color: rgb(217, 216, 160);
    padding: 20px;
    filter: drop-shadow(5px 5px 5px #000);

    font-size: 1.2rem;
    margin: 20px;
}

section img{
    width: 50%;
    filter: drop-shadow(5px 5px 5px #000);
}
section h2{
    text-align: center;
    margin-bottom: 2vh;
}
section p{
    margin-bottom: 10px;
}

#historia,
#fundamentos,
#elementos,
#estrutura,
#semantica,
#alem{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#historia,
#elementos,
#alem{
    display: flex;
    flex-direction: row-reverse;
}

/* section:nth-child(odd){
    flex-direction: row-reverse;
} */

@media screen and (max-width: 800px) {
    #historia,
    #fundamentos,
    #elementos,
    #estrutura,
    #semantica,
    #alem{
        display: flex;
        flex-direction: column;
    }
    section{
        margin-bottom: 5vh;
    }
    h1{
        text-align: center;
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
   
    bloquequote{
        font-size: none;
    }
}





#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #444;
}

#footer h2{
    margin: 10px;
    color: #fff;
    margin-bottom: 2.5vh;
    filter: drop-shadow(5px 5px 5px #000);
}

.footer-dados{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vh;
}

.nav-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}
.nav-ul a{
    color: #fff;
    text-decoration: none;
}
.nav-ul a:hover{
    color: #aebeec;
}   

.nav-ul h3{
    color: #fff;
    margin-bottom: 1vh;
}

.copy{
    text-align: center;
    margin: 10px;
    font-size: 1.2rem;
    color: #ccc;
}
